<h1>{{category.categoryId + ". " + category.categoryName}}</h1>

<div *ngFor="let question of category.questions">
  <h2 pTooltip="{{question.requirement}}" tooltipPosition="bottom">{{question.id + ". " + question.question}}</h2>

  <p-triStateCheckbox [(ngModel)]="question.yesNo" label="Da/Ne"></p-triStateCheckbox>
  <br>
  <h5>Dokaz/Trenutno Stanje:</h5>
  <textarea [rows]="2" [cols]="30" pInputTextarea [(ngModel)]="question.evidence" [autoResize]="true"></textarea>
  <h5>Vrijednost: {{question.percentage}} %</h5>
  <p-slider [(ngModel)]="question.percentage" required></p-slider>
  <br>
  <hr>
</div>
