<div>
  <h1>Ime popunjavatelja:</h1>
  <p>{{getName()}}</p>
  <h1>Usklađenost po područjima</h1>
  <div *ngFor="let res of gdprComponent.request.result.resultByCategories">
    <p>{{getValue(res)}}</p>
  </div>
  <h1>Usklađenost po stavkama</h1>
  <div *ngFor="let res of gdprComponent.request.result.resultByFields">
    <p>{{getValue(res)}}</p>
  </div>

  <p-button
    (onClick)="submit()"
    label="Spremi"
    [disabled]="gdprComponent.request.isNotComplete()"
    styleClass="p-button-secondary"
  ></p-button>
</div>

<p-progressSpinner *ngIf="spinner" class="progress-spinner"></p-progressSpinner>

